:root {
  --bg: #0f0f0f;
  --card: #161616;
  --text: #ffffff;
  --muted: #cfcfcf;
  --accent: #f59e0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.logo span {
  color: var(--accent);
}

.navbar a {
  margin-left: 20px;
  color: var(--text);
  text-decoration: none;
}

/* BUTTON */
.btn {
  background: var(--accent);
  color: #000;
  padding: 14px 28px;
  text-decoration: none;
  font-weight: bold;
}

.btn.small {
  padding: 10px 18px;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 80px;
  gap: 40px;
  background: #0e0e0e; 
  overflow: hidden;
}


.hero h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: var(--accent);
}

.hero p {
  color: var(--muted);
  margin-bottom: 30px;
  max-width: 480px;
}

.hero-image img {
  width: 100%;
  max-width: 680px;
  display: block;
  margin: auto;
  background: transparent;
  box-shadow: none;
  mask-image: radial-gradient(circle, #000 60%, transparent 100%);
}



.mockup-placeholder {
  height: 300px;
  background: #1c1c1c;
  border: 1px solid #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

/* SERVICES */
.services {
  padding: 80px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

.card {
  background: var(--card);
  padding: 32px;
  border: 1px solid #2a2a2a;
}

/* WHY */
.why {
  padding: 80px;
}

.why ul li {
  margin-bottom: 10px;
}

/* PROCESS */
.process {
  padding: 80px;
}

.process-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.process-steps div {
  background: var(--card);
  padding: 30px;
  text-align: center;
}

/* CTA */
.cta {
  padding: 100px;
  text-align: center;
}

/* FOOTER */
.footer {
  padding: 40px;
  text-align: center;
  color: #777;
}

